In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('crime.csv', header=[0])

In [24]:
df

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,41089834,MURRAY HILL DINER,Manhattan,222,LEXINGTON AVENUE,10016.0,2126866667,NaN,NaN,P,...,NaN,NaN,40.745891,-73.980104,105.0,2.0,7200.0,1018492.0,1.008890e+09,MN20
1,41089834,MURRAY HILL DINER,Manhattan,222,LEXINGTON AVENUE,10016.0,2126866667,NaN,NaN,P,...,NaN,NaN,40.745891,-73.980104,105.0,2.0,7200.0,1018492.0,1.008890e+09,MN20
2,41089834,MURRAY HILL DINER,Manhattan,222,LEXINGTON AVENUE,10016.0,2126866667,NaN,NaN,P,...,NaN,NaN,40.745891,-73.980104,105.0,2.0,7200.0,1018492.0,1.008890e+09,MN20
3,41089834,MURRAY HILL DINER,Manhattan,222,LEXINGTON AVENUE,10016.0,2126866667,NaN,NaN,P,...,NaN,NaN,40.745891,-73.980104,105.0,2.0,7200.0,1018492.0,1.008890e+09,MN20
4,40596549,POLLOS A LA BARASA MARIO,Queens,40-19,BROADWAY,11103.0,7189322424,NaN,NaN,D,...,NaN,NaN,40.758872,-73.918772,401.0,22.0,15500.0,4011093.0,4.006780e+09,QN70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394116,50046624,BLOOMBERG CAFE,Manhattan,120,PARK AVENUE,10017.0,2126173917,NaN,NaN,D,...,NaN,NaN,40.751677,-73.978427,105.0,4.0,8200.0,1035334.0,1.012760e+09,MN20
394117,50046624,BLOOMBERG CAFE,Manhattan,120,PARK AVENUE,10017.0,2126173917,NaN,NaN,D,...,NaN,NaN,40.751677,-73.978427,105.0,4.0,8200.0,1035334.0,1.012760e+09,MN20
394118,50016720,Cannelle LIC,Queens,511,47TH AVE,11101.0,7189378500,NaN,NaN,D,...,NaN,NaN,40.745879,-73.955155,402.0,26.0,700.0,4615146.0,4.000280e+09,QN31
394119,50016720,Cannelle LIC,Queens,511,47TH AVE,11101.0,7189378500,NaN,NaN,D,...,NaN,NaN,40.745879,-73.955155,402.0,26.0,700.0,4615146.0,4.000280e+09,QN31
394120,50108495,NaN,Queens,100-05,METROPOLITAN AVENUE,11375.0,3473068879,NaN,NaN,NaN,...,NaN,NaN,40.710817,-73.853099,406.0,29.0,72900.0,4077087.0,4.032200e+09,QN17

In [23]:
df = df[['ARREST_KEY', 'ARREST_DATE', 'PD_DESC', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'Lon_Lat']]

KeyError: "['PERP_SEX', 'PERP_RACE', 'ARREST_KEY', 'ARREST_BORO', 'PD_DESC', 'ARREST_DATE', 'LAW_CODE', 'LAW_CAT_CD', 'X_COORD_CD', 'Y_COORD_CD', 'Lon_Lat', 'AGE_GROUP', 'JURISDICTION_CODE', 'OFNS_DESC'] not in index"

In [10]:
host = "cis550-proj.cd0wswllphq4.us-east-1.rds.amazonaws.com"
port = 3306
database = "project"
user ="admin"
passw ="password"

import pymysql
from sqlalchemy import create_engine

In [11]:
mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

In [12]:
df.to_sql(name='crimes', con=mydb, if_exists = 'replace', index=False)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-12-56cff02a5e2c>", line 1, in <module>
    df.to_sql(name='crimes', con=mydb, if_exists = 'replace', index=False)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pandas/core/generic.py", line 2615, in to_sql
    method=method,
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pandas/io/sql.py", line 598, in to_sql
    method=method,
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pandas/io/sql.py", line 1398, in to_sql
    table.insert(chunksize, method=method)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pandas/io/sql.py", line 830, in insert
    exec_insert(conn, keys, chunk_iter)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pandas/io/sql.py", line 747, in _execute_insert
    conn.execute(self.table.insert(), data)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1011, in execute
    return meth(self, multiparams, params)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/sql/elements.py", line 298, in _execute_on_connection
    return connection._execute_clauseelement(self, multiparams, params)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1130, in _execute_clauseelement
    distilled_params,
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1317, in _execute_context
    e, statement, parameters, cursor, context
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1514, in _handle_dbapi_exception
    util.raise_(exc_info[1], with_traceback=exc_info[2])
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/util/compat.py", line 182, in raise_
    raise exception
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1257, in _execute_context
    cursor, statement, parameters, context
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/mysqldb.py", line 148, in do_executemany
    rowcount = cursor.executemany(statement, parameters)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pymysql/cursors.py", line 179, in executemany
    self._get_db().encoding,
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pymysql/cursors.py", line 206, in _do_execute_many
    rows += self.execute(sql + postfix)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pymysql/cursors.py", line 148, in execute
    result = self._query(query)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pymysql/cursors.py", line 310, in _query
    conn.query(q)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pymysql/connections.py", line 547, in query
    self._execute_command(COMMAND.COM_QUERY, sql)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pymysql/connections.py", line 814, in _execute_command
    self._write_bytes(packet)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/pymysql/connections.py", line 756, in _write_bytes
    self._sock.sendall(data)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2033, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/IPython/core/ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/inspect.py", line 732, in getmodule
    for modname, module in list(sys.modules.items()):
KeyboardInterrupt

KeyboardInterrupt: