In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('restaurants.csv', header=[0])

/Users/jkogan/.pyenv/versions/3.7.2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df.apply('nunique').sort_values(ascending=True)[0:30]
df.drop_duplicates(inplace=True)

In [19]:
#only keep certain columns based on what we need
keep = [
        'CAMIS', 'DBA', 'BORO', 'ZIPCODE', 
        'PHONE', 'CUISINE DESCRIPTION', 'Latitude',
        'Longitude'
]
df = df[keep]

In [20]:
#drop duplicates again
df.drop_duplicates(inplace=True)

In [21]:
df.rename(columns={'CAMIS': 'id'}, inplace=True)

In [22]:
df.rename(columns={'DBA': 'name'}, inplace=True)
df.name.str.title()

0                Murray Hill Diner
4         Pollos A La Barasa Mario
7                Corner Gourmet Ii
8               El Pollo Inka Peru
16             Jg Melon Restaurant
                    ...
394060                  Unks Place
394061     Brent'S Comfort Kitchen
394084              Wicked Willy'S
394112                         NaN
394120                         NaN
Name: name, Length: 29601, dtype: object

In [23]:
df.rename(columns={'BORO': 'borough'}, inplace=True)

In [24]:
df.rename(columns={'ZIPCODE': 'zipcode'}, inplace=True)

In [25]:
df.rename(columns={'CUISINE DESCRIPTION': 'description'}, inplace=True)

In [26]:
df.rename(columns={'Latitude': 'latitude'}, inplace=True)

In [27]:
df.dropna(subset=['latitude'], inplace=True)

In [28]:
df.rename(columns={'Longitude': 'longitude'}, inplace=True)

In [32]:
host = "cis550-proj.cd0wswllphq4.us-east-1.rds.amazonaws.com"
port = 3306
database = "project"
user ="admin"
passw ="password"

import pymysql
from sqlalchemy import create_engine

In [33]:
mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

In [34]:
df.to_sql(name='restaurants', con=mydb, if_exists = 'replace', index=False)